<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= page.hoge.headline %> | <%= config.siteTitle %></title>
</head>
<body>
  <h1><%= page.hoge.headline %></h1>
<% loop.forEach(function(data){ %>
  <div class="article">
    <h2><%= data.tagline %></h2>
    <p><%= data.article %></p>
  </div>
<% }); %>
</body>
</html>
